html, body{
    margin: 10px;
    background-color: #4e2271;
    color: #dd95bd;
    font-family: 'november';
    src: url("./Assets/novem___.ttf") format('truetype');
    text-align-last: center;
    min-width: fit-content;
}


h1{
    color: #ee59ab;
    font-size: 35px;
    font-family: 'november';
    src: url("./Assets/novem___.ttf") format('truetype');
    text-align-last: center;
}


h3{
    color: #ff83c7;
    font-size: 25px;
    font-family: 'november';
    src: url("./Assets/novem___.ttf") format('truetype');
    text-align-last: center;
}
h4{
    color: #de72ff;
    font-size: 20px;
    font-family: 'november';
    src: url("./Assets/novem___.ttf") format('truetype');
    text-align-last: center;
}

p{
    color: #dd95bd;
    font-family: 'november';
    src: url("./Assets/novem___.ttf") format('truetype');
    text-align-last: center;
    font-size: 18px;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}


a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 238, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(0, 255, 13);
    background-color: transparent;
    text-decoration: underline;
}


.div-selections:hover{
    transition: 1.5s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.1);
    transform: scale(1.05);
}


.nav-selections {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'november';
    src: url("./Assets/novem___.ttf") format('truetype');
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px; /*space between lines */
    /*float: right;*/
    margin-left: 5px;
    transition: 1.5s;
}


#sticky {
    /*
    background-image: url("https://thumbs.dreamstime.com/b/long-road-4344318.jpg");
    */
    background-color: #9c4a93;
    overflow: auto;
    list-style-type: none;
}

#sticky:first-child {
    margin-right: 35px;
}




.bodyfont{
    font-family: 'november';
    src: url("./Assets/novem___.ttf") format('truetype');
}

.boldtext{
    font-weight: bold;
}



#copyright
{
    text-align-last: center;
}

